name: Main Branch CI/CD

on:
  
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: 3.x

    - name: Install dependencies
      run: make dev
    - name: Fix Format
      run: make format-fix
    - name: Complexity scan
      run: make complex
    - name: Unit tests
      run: make unit
    - name: Run Coverage
      run: make coverage-tests
    - name: Run coverage check
      id: coverage
      run: python coverage-percentage.py

    - name: Check coverage percentage
      run: |
        coverage="${{ steps.coverage.outputs.coverage }}"
        if [[ "$coverage" =~ ^[0-9]*$ ]]; then
          if [ -n "$coverage" ]; then
            echo "Coverage is $coverage%. Proceeding..."
            if [ "$coverage" -ge 40 ]; then
              echo "Coverage is greater than or equal to 40%. Proceeding..."
            else
              echo "Coverage is less than 40%. Exiting..."
              exit 1  # Exit with an error code to stop the workflow
            fi
          else
            echo "Coverage value is empty. Exiting..."
            exit 1  # Exit with an error code to stop the workflow
          fi
        else
          echo "Invalid coverage value: $coverage. Exiting..."
          exit 1  # Exit with an error code to stop the workflow
        fi
    
    

    - name: Set up AWS credentials
      run: |
        mkdir -p ~/.aws
        touch ~/.aws/credentials
        echo "[your-aws-profile]
        aws_access_key_id = ${AWS_ACCESS_KEY_ID}
        aws_secret_access_key = ${AWS_SECRET_ACCESS_KEY}" > ~/.aws/credentials
      env: 
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    - name: Deploy to AWS
      run: make deploy
      env:
        AWS_PROFILE: your-aws-profile